{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.password_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'profile.password_title'|trans }}</h1>

    {{ form_start(password_form) }}
        {{ form_widget(password_form) }}

        <button class="btn btn-primary" type="submit">
            {{ 'profile.change_password'|trans }}
        </button>
    {{ form_end(password_form) }}

    <a href="{{ path('app_profile') }}" class="btn btn-secondary">
        {{ 'profile.back'|trans }}
    </a>
{% endblock %}
