{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'home.heading'|trans }}</h1>

    <p>{{ 'home.welcome'|trans }}</p>

    <a href="{{ path('app_photo_index') }}" class="btn btn-primary">
        {{ 'home.photos'|trans }}
    </a>

    <a href="{{ path('app_gallery_index') }}" class="btn btn-secondary">
        {{ 'home.galleries'|trans }}
    </a>
{% endblock %}
