{% extends 'base.html.twig' %}

{% block title %}{{ 'comment.index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'comment.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nick</th>
                <th>Email</th>
                <th>Treść</th>
                <th>Data utworzenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.nick }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|format_datetime('medium', 'medium', locale=app.request.locale) : '' }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">Pokaż</a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Brak komentarzy</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">{{ 'action.create_new'|trans }}</a>
{% endblock %}
