{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Komentarz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Nick</th>
                <td>{{ comment.nick }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ comment.email }}</td>
            </tr>
            <tr>
                <th>Treść</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Data utworzenia</th>
                <td>{{ comment.createdAt ? comment.createdAt|format_datetime('medium', 'medium', locale=app.request.locale) : '' }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('app_comment_index') }}" class="btn btn-secondary mb-2">
    {{ 'action.back_to_list'|trans }}
</a>

<a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-warning mb-2">
    Edytuj
</a>

<a href="{{ path('app_comment_delete_confirm', {'id': comment.id}) }}" class="btn btn-danger">
    Usuń
</a>
{% endblock %}
