{% extends 'base.html.twig' %}

{% block title %}{{ 'photo.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'photo.edit'|trans }}</h1>

    {{ include('photo/_form.html.twig', {'button_label': 'Zapisz'}) }}

    <a href="{{ path('app_photo_index') }}" class="btn btn-secondary">
    {{ 'action.back_to_list'|trans }}
    </a>

<a href="{{ path('app_photo_delete_confirm', {'id': photo.id}) }}" class="btn btn-danger">
    Usuń
</a>
{% endblock %}
