{% extends 'base.html.twig' %}

{% block title %}{{ 'gallery.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'gallery.edit'|trans }}</h1>

    {{ include('gallery/_form.html.twig', {'button_label': 'Zapisz'}) }}

<a href="{{ path('app_gallery_index') }}" class="btn btn-secondary mb-2">
    {{ 'action.back_to_list'|trans }}
</a>

<a href="{{ path('app_gallery_delete_confirm', {'id': gallery.id}) }}" class="btn btn-danger">
    Usuń
</a>
{% endblock %}
