{% extends 'base.html.twig' %}

{% block title %}Gallery index{% endblock %}

{% block body %}
    <h1>Gallery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.title }}</td>
                <td>
                    <a href="{{ path('app_gallery_show', {'id': gallery.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_gallery_edit', {'id': gallery.id}) }}">edit</a>
{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_gallery_new') }}">Create new</a>
{% endif %}
{% endblock %}
