{% extends 'base.html.twig' %}

{% block title %}{{ 'gallery.index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'gallery.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.title }}</td>
                <td>
                    <a href="{{ path('app_gallery_show', {'id': gallery.id}) }}">Pokaż</a>
                    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_gallery_edit', {'id': gallery.id}) }}">Edytuj</a>
{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Brak galerii</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_gallery_new') }}">{{ 'action.create_new'|trans }}</a>
{% endif %}
{% endblock %}
