{% extends 'base.html.twig' %}

{% block title %}Galeria{% endblock %}

{% block body %}
    <h1>Galeria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gallery.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ gallery.title }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('app_gallery_index') }}" class="btn btn-secondary mb-2">
    {{ 'action.back_to_list'|trans }}
</a>

    {% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_gallery_edit', {'id': gallery.id}) }}" class="btn btn-warning mb-2">
    Edytuj
</a>
{% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_gallery_delete_confirm', {'id': gallery.id}) }}" class="btn btn-danger">
    Usuń
</a>
{% endif %}

<h2>Zdjęcia w galerii</h2>

{% if photos is empty %}
    <p>Brak zdjęć w tej galerii.</p>
{% else %}
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img src="{{ asset('uploads/photos/' ~ photo.filename) }}" class="card-img-top" alt="{{ photo.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ photo.title }}</h5>
                        <a href="{{ path('app_photo_show', {'id': photo.id}) }}" class="btn btn-primary">Zobacz</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
